# Runtime App Configs
APP_PORT=8000
SERVICE_VERSION=v0.1.0-team-core
AUTH_TOKEN=local-dev-token

# Database Configs
POSTGRES_USER=core_user
POSTGRES_PASSWORD=core_secure_pass_123
POSTGRES_DB=core_db

# Inter-team Integration (Plug-a-thon Ready)
IOT_SERVICE_URL=http://fit4110-iot-api:8000
CAMERA_SERVICE_URL=http://fit4110-camera-api:8000